@page "/fetchdata"
@using DesktopTest.Client.Data.Services;
@inject IClientService ClientService


<h1> Visualizar Clientes </h1>

@if (clients == null) 
{
	<p><em>Loading...</em></p>
}

else
{
	<FormModal @ref="Modal"/>
	<button class="btn btn-primary" @onclick="() => Modal.Open()">Anadir Cliente</button>
	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Cedula</th>
				<th>Correo</th>
				<th>Telefono</th>
				<th>Foto de Perfil</th>
				<th>Cursos</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var client in clients)
			{
				<tr>
					<td>@client.Nombre</td>
					<td>@client.Apellido</td>
					<td>@client.Cedula</td>
					<td>@client.Correo</td>
					<td>@client.Telefono</td>
					<td>@client.URLFotoPerfil</td>
					<td>@client.Cursos</td>

				</tr>
			}
		</tbody>
	</table>
}


@code{

	private FormModal Modal { get; set; }

	private List<Data.Models.Client> clients;

	protected override async Task OnInitializedAsync()
	{
		clients = await ClientService.GetClientsAsync();
	}
}